.brands {
  width: 1440px;
  height: 2435px;
  background: #f9f9f9;
  margin-left: 55px;
  margin-top: -48px;
}

.brands__head {
  color: #333;
  font-family: Futura PT;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 91.429% */
  margin-left: 177px;
  transform: translateY(110px);
}

.brands__text {
  width: 411px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 177px;
  transform: translateY(100px);
}

.brands__images {
  width: 448px;
  height: 545px;
  flex-shrink: 0;
  margin-left: 879px;
  margin-top: -150px;
}

.brands__images1 {
  width: 668.969px;
  height: 235.885px;
  flex-shrink: 0;
  margin-top: -500px;
}

.brands__images2 {
  width: 112px;
  height: 112.603px;
  flex-shrink: 0;
  margin-left: -230px;
}

.brands__list {
  list-style: none;
}

.brands__item {
  width: 1440px;
  height: 493px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;
  margin-left: -40px;
}

.brands__ul--images {
  height: 493.322px;
  flex-shrink: 0;
  border-radius: 5px 0px 0px 5px;
  margin-top: -4px;
  margin-left: -5px;
}

.brands__txt {
  width: 557px;
  color: #949494;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 130% */
  margin-left: 829px;
  margin-top: -349px;
}

.brands__span {
  color: #ffbd54;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.brands__text1 {
  width: 494px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 179px;
  margin-top: 103px;
  //   margin-top: 203px;
}

.brands__text2 {
  width: 494px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 179px;
  margin-top: 13px;
}

.brands__span--txt {
  color: #78c0de;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.brands__images3 {
  width: 797px;
  height: 532px;
  flex-shrink: 0;
  margin-left: 644px;
  margin-top: -350px;
}

.brands__h2 {
  width: 416px;
  height: 93px;
  flex-shrink: 0;
  color: #333;
  font-family: Futura PT;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 104.348% */
  margin-left: 179px;
  margin-top: 150px;
}

.brands__span1 {
  color: #ffbd54;
  font-family: Futura PT;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}

.brands__txt2 {
  width: 343px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 179px;
}

.brands__list1 {
  list-style: none;
  display: flex;
  margin-left: 565px;
  margin-top: -300px;
}

.brands__item1 {
  margin-left: 20px;
}

.brands__images4 {
  height: 400px;
  flex-shrink: 0;
  border-radius: 5px;
}
