.hero {
  width: 1440px;
  height: 4767px;
  background: #f9f9f9;
  margin-left: 50px;
}

.hero__images0 {
  margin-top: -100px;
}

.hero__images2 {
  width: 41.995px;
  height: 42.003px;
  transform: rotate(90deg);
  flex-shrink: 0;
  margin-left: 58px;
  margin-top: 22.77px;
}
.hero__images3 {
  width: 41.995px;
  height: 42.003px;
  transform: rotate(90deg);
  flex-shrink: 0;
  margin-left: 168px;
  transform: translateY(80px);
}
.hero__images4 {
  width: 41.995px;
  height: 42.003px;
  transform: rotate(90deg);
  flex-shrink: 0;
  margin-left: 308px;
  transform: translateY(80px);
}
.hero__images5 {
  width: 41.995px;
  height: 42.931px;
  transform: rotate(30deg);
  flex-shrink: 0;
  margin-left: 58px;
  transform: translateY(80px);
  margin-left: 210px;
}
.hero__images6 {
  width: 45.441px;
  height: 45.449px;
  transform: rotate(-120deg);
  flex-shrink: 0;
  /* opacity: 0.09; */
  margin-left: 1247px;
}

.hero__images1 {
  width: 1438px;
  height: 924px;
  flex-shrink: 0;
  margin-top: -150px;
}

.hero__head {
  color: #333;
  font-family: Futura PT;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: -650px;
  margin-left: 735px;
  margin-top: -750px;
}

.hero__span {
  color: #78c0de;
  font-family: Futura PT;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
  margin-top: -2150px;
}

.hero__text {
  width: 495px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin-left: 735px;
}

.hero__button {
  width: 181px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #333;
  flex-shrink: 0;
  margin-top: 10px;
}
.hero__a {
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

.hero__hr {
  width: 140px;
  background: #dbdbdb;
  margin-top: 420px;
}

.hero__img {
  flex-shrink: 0;
  color: #dbdbdb;
  font-family: Gaegu;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 250px;
}

.hero__txt {
  width: 753px;
  color: #949494;
  text-align: center;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 300px;
}

.hero__img1 {
  flex-shrink: 0;
  color: #dbdbdb;
  font-family: Gaegu;
  font-size: 200px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 1050px;
  transform: translateY(-50px);
}

.hero__hr1 {
  width: 140px;
  background: #dbdbdb;
}

.hero__h5 {
  color: #333;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 540px;
}
