.small__images {
  width: 500px;
  height: 332px;
  flex-shrink: 0;
  border-radius: 5px;
  border-radius: 5px;
  background: url(/images/pishakduxtr.png), lightgray 50% / cover no-repeat;
  margin-top: 50px;
  margin-left: 130px;
}

.small__list {
  display: flex;
}

.small__item {
  list-style: none;
}

.small__head {
  color: #333;
  font-family: Futura PT;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-left: 670px;
  margin-top: -320px;
}

.small__text {
  width: 492px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 670px;
}

.small___txt {
  width: 492px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-left: 670px;
}

.small__button {
  width: 185px;
  height: 50px;
  border: #ffbd54;
  flex-shrink: 0;
  border-radius: 3px;
  background: #ffbd54;
  text-decoration: none;
  margin-left: 670px;
}

.small___btn {
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -20px;
  margin-left: 20px;
}

.small__button--images {
  width: 21.249px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: -775px;
}

.small__button1 {
  width: 241px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #333;
}

.small___btn1 {
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -20px;
  margin-left: 50px;
}

.small__button--images2 {
  width: 21px;
  height: 21.001px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: -70px;
}
