.smell {
  width: 1440px;
  height: 1760px;
  background-color: #f9f9f9;
  margin-left: 50px;
  margin-top: -48px;
}

.smell__head {
  width: 152px;
  height: 58px;
  flex-shrink: 0;
  color: #333;
  font-family: Futura PT;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px; /* 91.429% */
  margin-left: 177px;
  transform: translateY(110px);
}

.smell__text {
  width: 447px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  margin-left: 177px;
  margin-top: 140px;
}

.smell__button {
  width: 201px;
  height: 50px;
  flex-shrink: 0;
  border: 2px solid #78c0de;
  border-radius: 3px;
  background: #78c0de;
  margin-left: 177px;
}

.smell__images {
  width: 21px;
  height: 21.001px;
  flex-shrink: 0;
}

.smell__button1 {
  text-decoration: none;
  color: #fff;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.smell__images1 {
  margin-left: 945px;
  margin-top: -251px;
}

.smell__list {
  list-style: none;
  width: 752px;
  height: 305px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;
  margin-left: 177px;
}

.smell__images2 {
  width: 22.867px;
  height: 19.986px;
  transform: rotate(112.445deg);
  flex-shrink: 0;
  margin-top: 27px;
}

.smell__item {
  display: flex;
  //   margin-top: -10px;
}

.smell__h6 {
  color: #333;
  font-family: Futura PT;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-left: 6.8px;
  //   margin-top: 0px;
  transform: translateY(-5px);
}

.smell__ht {
  color: #78c0de;
  text-align: right;
  font-family: Futura PT;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 183.333% */
  letter-spacing: 0.96px;
  text-transform: uppercase;
  margin-left: 20px;
}

.smell__h5 {
  color: #333;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: 70px;
  margin-left: -280px;
}

.smell__txt {
  width: 577px;
  color: #949494;
  font-family: Futura PT;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 130px;
  margin-left: -500px;
}

.smell__images3 {
  margin-top: -140px;
  margin-left: 50px;
}

.smell__list2 {
  list-style: none;
  width: 752px;
  height: 139px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;
  margin-left: 177px;
}

.smell__images4 {
  width: 9.641px;
  height: 16px;
  flex-shrink: 0;
  margin-left: 120px;
  margin-top: 50px;
}

.smell__h51 {
  width: 539px;
  color: #333;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  margin-top: 80px;
  margin-left: -280px;
}

.smell__images5 {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  margin-top: 60px;
  margin-left: 100px;
  //   margin-right: -600px;
}

.smell__h52 {
  width: 539px;
  color: #333;
  font-family: Futura PT;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  margin-top: 80px;
  margin-left: -280px;
  opacity: 0.4;
}

.smell__galeriya {
  width: 600px;
  height: 600px;
  flex-shrink: 0;
  margin-left: 840px;
  margin-top: -500px;
}
